/* Global rules */
:root {
  --primary-red: #FE5F55;
  --primary-red-hover: #FE4134;
  --grey: #50514F;
  --white: #FFFFFF;
  --light-grey: #F6F5F8;
  /* App colors */
  --project-green: #8dd3b3;
  --project-red: #dd8c94;
  --project-yellow: #e9ca6d;
  --project-light-grey: #c3c5c5;
  --project-blue: #7eaef1;
  --project-light-blue: #81d9eb;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: var(--grey);
}

p, h1 { margin: 0; }

.project-green { color: var(--project-green); }
.project-red { color: var(--project-red); }
.project-yellow { color: var(--project-yellow); }
.project-light-grey { color: var(--project-light-grey); }
.project-blue { color: var(--project-blue); }
.project-light-blue { color: var(--project-light-blue); }

.project-green-background { background-color: var(--project-green); }
.project-red-background { background-color: var(--project-red); }
.project-yellow-background { background-color: var(--project-yellow); }
.project-light-grey-background { background-color: var(--project-light-grey); }
.project-blue-background { background-color: var(--project-blue); }
.project-light-blue-background { background-color: var(--project-light-blue); }

.hide { display: none; }
.display { display: block; }

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 0 36px;
  color: var(--white);
  background-color: var(--primary-red);
}

.logo {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.toggle-sidebar {
  display: none !important;
  padding: 4px 6px;
  margin-right: 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.toggle-sidebar:hover {
  background-color: var(--primary-red-hover);
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* Sidebar */
.sidebar {
  width: 300px;
  height: calc(100vh - 60px);
  padding: 40px 20px;
  background-color: var(--light-grey);
  position: fixed;
  overflow: auto;
  -webkit-transition: transform .2s;
  transition: transform .2s;
  z-index: 10;
}

.sidebar-show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.sidebar-hide {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

.sidebar-project-nav {
  margin-bottom: 60px;
}

.sidebar-project-nav a,
.sidebar-projects-list a {
  display: block;
  padding: 10px 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  color: var(--grey);
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar-project-nav a:last-child,
.sidebar-projects-list a:last-child {
  margin-bottom: 0;
}

.sidebar-project-nav a.active,
.sidebar-projects-list a.active {
  background-color: var(--white);
}

.sidebar-project-nav a:hover:not(.active),
.sidebar-projects-list a:hover:not(.active) {
  background-color: var(--white);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar-project-nav i,
.sidebar-projects-list i:not(.remove-project-modal) {
  margin-right: 10px;
}

.sidebar-projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-projects-title {
  font-weight: 700;
}

.sidebar-project p {
  display: inline-block;
  white-space: nowrap;
  max-width: 151px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.add-project-modal,
.remove-project-modal,
.edit-project-modal {
  float: right;
  cursor: pointer;
}

.sidebar-projects-header > .add-project-modal {
  padding: 4px 6px;
  border-radius: 6px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar-projects-header > .add-project-modal:hover {
  background-color: var(--white);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar-sep {
  margin: 10px 0 20px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.remove-project-modal,
.remove-task-modal {
  color: var(--primary-red);
}

/* Main container */
main {
  margin-top: 60px;
  margin-left: 300px;
  padding: 40px;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 0;
}

.main-mobile {
  margin-left: 0;
}

.todo-header {
  margin-bottom: 40px;
}

.todo-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.todo-item,
.todo-item-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 60px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  padding: 0 16px;
  cursor: pointer;
}

.todo-item:hover,
.todo-item-add:hover {
  background-color: var(--light-grey);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.todo-item > *:not(:last-child),
.todo-item-add > *:not(:last-child) {
  margin-right: 10px;
}

.todo-item-title {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.todo-item-title.done {
  text-decoration: line-through;
}

.todo-item-pill {
  font-size: 15px;
  padding: 4px 6px;
  border-radius: 14px;
}

.todo-item-date {
  background-color: var(--primary-red);
  color: var(--white);
}

.remove-task-modal,
.edit-task-modal {
  padding: 6px 0;
  width: 30px !important;
  height: 30px;
  border-radius: 6px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.remove-task-modal:hover,
.edit-task-modal:hover {
  background-color: var(--white);
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  z-index: 20;
}

.modal-box {
  background-color: var(--white);
  margin: 15% auto;
  border: solid 1px rgba(0,0,0,.15);
  border-radius: 8px;
  max-width: 362px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .3s;
  animation-duration: .3s
}
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header {
  padding: 20px;
  background-color: var(--light-grey);
  border-radius: 8px 8px 0 0;
  border-bottom: solid 1px rgba(0,0,0,.15);
}

.modal h2 {
  margin: 0;
}

.close-x {
  float: right;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 24px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.close-x:hover,
.close-x:focus {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--white);
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* Modal content */
.modal-content {
  padding: 20px;
}

.confirm-modal-title {
  font-weight: 700;
}

/* Form styling */
#project-form > div:not(:last-child),
#task-form > div:not(:last-child) {
  margin-bottom: 20px;
}

/* #project-form > label,
#task-form > label {
  margin-bottom: 6px;
} */

#project-form label,
#task-form label {
  display: inline-block;
  margin-bottom: 6px;
}

#form-project-title,
#form-task-title,
#form-task-priority,
#form-task-schedule,
#form-task-project {
  width: 100%;
  height: 45px;
  padding: 0 12px;
  border: solid 1px rgba(0,0,0,.15);
  border-radius: 8px;
  background-color: var(--white);
  color: var(--grey);
  -webkit-transition: all .2s;
  transition: all .2s;
}

#form-project-title:focus,
#form-task-title:focus,
#form-task-priority:focus,
#form-task-schedule:focus,
#form-task-project:focus {
  border-color: var(--grey);
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* Form errors */
.form-error {
  margin: 6px 0 0;
  font-size: 14px;
  color: var(--primary-red);
}

.task-project-error {
  margin-top: -14px;
}

/* Radio buttons styling */

.form-radio > p {
  margin-bottom: 6px;
}

#project-icons,
#project-colors {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(7, -webkit-min-content);
  -ms-grid-columns: -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content 10px -webkit-min-content;
  -ms-grid-columns: min-content 10px min-content 10px min-content 10px min-content 10px min-content 10px min-content 10px min-content;
  grid-template-columns: repeat(7, min-content);
  grid-gap: 10px;
}

.radio {
  font-size: 28px;
  color: var(--grey);
  cursor: pointer;
}

#project-icons input,
#project-colors input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-before input:checked + .radio-control,
#project-icons input:focus + .radio-control,
#project-colors input:focus + .radio-control {
  border: 1px solid var(--grey);
}

.radio-control:hover {
  border: 1px solid var(--grey);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.radio-control {
  display: block;
  padding: 4px 4px 1px;
  border-radius: 8px;
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.modal-sep {
  border-bottom: solid 1px rgba(0,0,0,.15);
  margin: 20px -21px;
}

.modal .button-right {
  text-align: right;
}

/* Buttons styling */
.button {
  border: solid 1px rgba(0,0,0,.15);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  color: var(--white);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.button:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
}

#project-button,
#task-button,
#confirm-button {
  background-color: var(--primary-red);
  margin-left: 20px;
}

#project-button:hover,
#task-button:hover,
#confirm-button:hover {
  background-color: var(--primary-red-hover);
}

.cancel {
  background-color: var(--light-grey);
  color: var(--grey);
}

.cancel:hover {
  border-color: var(--grey);
}

@media (max-width: 960px) {
  .toggle-sidebar {
    display: inline-block !important;
  }
}
